.message-container {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-radius: 5px;
	width: 24vw;
	height: 44vh;
	overflow: scroll;
	background-color: #F0F8FF;
}

.new-message-form {
	margin: 5px;
	justify-content: center;
}


.my-message {
	border: 1px solid blue;
	background-color: blue;
	border-radius: 10px;
	text-align: right;
	color: white;
	margin: 15px;
}

.other-message {
	border: 1px solid gray;
	border-radius: 10px;
	text-align: left;
	color: white;
	background-color: grey;
	margin: 15px;
}

#group-name {
	color: white;
}