.message-container {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-radius: 5px;
	width: 24vw;
	height: 44vh;
	overflow: scroll;
	background-color: #F0F8FF;
}

.new-message-form {
	margin: 5px;
	justify-content: center;
}


.my-message {
	background-color: blue;
	border-radius: 10px;
	text-align: right;
	font-size: 15px;
	color: white;
	margin: 5px;
	padding: 5px;
}

.other-message {
	border-radius: 10px;
	text-align: left;
	color: white;
	background-color: grey;
	font-size: 15px;
	margin: 5px;
	padding: 5px;
}

#group-name {
	color: white;
}

.message {
	box-shadow: 10px 1px 5px #aaaaaa;
}

.message-mine {
	text-align: right;
	margin-right: 15px;
	margin-left: 15px;
	display: flex;
	justify-content: flex-end;
}

.message-for-others {
	text-align: left;
	margin-left: 15px;
	display: flex;
	justify-content: flex-start;
}

.owner {
	text-align: right;
	margin-right: 15px;
}

.other {
	text-align: left;
	margin-left: 15px;
}

.message-list {
	flex-direction: row-reverse;
}
