.message-container {
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
	width: 23vw;
	height: 50vh;
	overflow: scroll;
	/*display: flex;*/
}

.new-message-form {
	margin: 5px;
	justify-content: center;
}


.my-message {
	border: 1px solid blue;
	background-color: blue;
	border-radius: 10px;
	text-align: right;
	color: white;
	margin: 15px;
}

.other-message {
	border: 1px solid gray;
	border-radius: 10px;
	text-align: left;
	color: white;
	background-color: grey;
	margin: 15px;
}