.links {
	margin: 5px;
}

.groupContainer {
	border: 5px solid black;
	border-radius: 5px;
	height: 70vh;
	width: 15vw;
	position: absolute;
	bottom: 10px;
	margin-left: 10px;
}

.chatContainer {
	border: 5px solid black;
	border-radius: 5px;
	height: 70vh;
	width: 25vw;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.add-group-contianer {

}

.group-list {
	overflow: auto;
	height: 50vh;
	width: 20vw;
}

.group-list::-webkit-scrollbar-thumb {
	background: transparent;
}

.group-list::-webkit-scrollbar-track {
  background: transparent;
}

.video-container {
	/*border: 5px solid black;*/
	height: 91vh;
	width: 65vw;
	margin-left: 5vw;
	margin-top: 2vw;
	overflow: auto;
}

.search-container {
	display: flex;
}

