header {
	background-color: rgba(0, 0, 0, .5);
	color: white;
	display: flex;
}

header {
	justify-content: space-around;
}

header h1 {
	padding-left: 30vw;
	padding-right: 10vw;
}

.links {
	margin: 5px;
}

.groupContainer {
	border: 5px solid black;
	border-radius: 5px;
	height: 70vh;
	width: 15vw;
	position: absolute;
	bottom: 10px;
	margin-left: 10px;
}

.chatContainer {
	border: 1px solid #6A5ACD;
	border-radius: 5px;
	height: 70vh;
	width: 25vw;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #008080;
}


.group-list {
	overflow: auto;
	height: 55vh;
}

.group-list::-webkit-scrollbar-thumb {
	background: transparent;
}

.group-list::-webkit-scrollbar-track {
  background: transparent;
}

.video-container {
	height: 91.5vh;
	width: 65vw;
	margin-left: 5vw;
	margin-top: 1vw;
	overflow: auto;
}

.search-container {
	display: flex;
}


.add-group-contianer {
	margin-top: 15px;
}

.update-group-form h3 {
	text-align: center;
}

.user-name {
	align-self: center;
	padding-left: 10vw;
}

