header {
	background-color: rgba(0, 0, 0, .5);
	color: white;
	display: flex;
}

header, h1 {
	justify-content: center;
}

.links {
	margin: 5px;
}

.groupContainer {
	border: 5px solid black;
	border-radius: 5px;
	height: 70vh;
	width: 15vw;
	position: absolute;
	bottom: 10px;
	margin-left: 10px;
}

.chatContainer {
	border: 5px solid black;
	border-radius: 5px;
	height: 70vh;
	width: 25vw;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-image: url('https://i.imgur.com/XpkMQg2.jpg');
}


.group-list {
	overflow: auto;
	height: 55vh;
}

.group-list::-webkit-scrollbar-thumb {
	background: transparent;
}

.group-list::-webkit-scrollbar-track {
  background: transparent;
}

.video-container {
	height: 91vh;
	width: 65vw;
	margin-left: 5vw;
	margin-top: 2vw;
	overflow: auto;
}

.search-container {
	display: flex;
}


.add-group-contianer {
	margin-top: 15px;
}
